
.card{
    width: 100%;
    max-width:100%;
    background: rgba(255, 255, 255, 0.88);
}

.row{
    width: 100%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card img{
    width: 100%;
    transition: opacity 0.7; 
    min-height: 45vh;
    animation: imgAnimacion 1.5s both;
    object-fit: contain;  
}

.card-body{
    animation: imgAnimacion 1.5s both;
    text-align: justify;
}

@keyframes imgAnimacion {
    0% {opacity:0; filter:blur(14)}
    100% {opacity:1; filter:blur(0)}
}


.card img:hover{
    opacity: 1;
}

.card:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.24);
    cursor:pointer;
}

.card-inner{
    padding: 10px;
}


.detalles-card{
    max-width: 100%;
    width: 100%;
    border-radius: 0.5em;
}

.detalles-imagen{
    padding: 3px;
    border-radius: 00.5em;
    
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.raiting{
    width: 100%;
    padding-left: 15px;
}

.corazon{
    height: 15px;
    margin: 0.2;
    width: auto !important;
    min-height: 0 !important;

    width: 100%;
    transition: opacity 0.7; 
    animation: imgAnimacion 1.5s both;
    object-fit: default !important;  
}

.estrella{
    height: 15px;
    width: auto !important;
    padding: 0.2px;
    transition: opacity 0.7; 
    animation: imgAnimacion 1.5s both;
    min-height: 0 !important;
    object-fit: default !important;  
}
