input[type=text]:focus{
    width: 80%;
    margin-right: 4px;
    border: 4px solid #dc3545 ;
    border-radius: 1em;
}

input{
    width: 80%;
    margin-right: 4px;
    border: 4px solid;
    border-radius: 1em;
}

.bordes{
    border-radius: 1em;
    text-shadow: 0.04em 0.04em 0.04em #333
}